.content__title {
  height: 209px;
  width: 1015px;
  font-family: Druk Wide;
  font-size: 245px;
  font-style: normal;
  font-weight: 500;
  line-height: 204px;
  text-align: center;
  writing-mode: vertical-lr;
}
