.agent__skils {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  right: -40px;
  bottom: -40px;
  height: 110px;
  width: 440px;
  background: #1f2326;
  border: solid 1px #fff;
}
