.user__name {
  color: #fff;
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.2s;
}

.user__name:hover {
  opacity: 0.5;
}
