.agent__icon {
  width: 53px;
  height: 72px;
}

.agent__icon1 {
  width: 36px;
  height: 65px;
}

.agent__icon2 {
  width: 69px;
  height: 51px;
}

.agent__icon3 {
  width: 57px;
  height: 43px;
}
/* ________________ */
.agent__icon4 {
  width: 47px;
  height: 59px;
}

.agent__icon5 {
  width: 43px;
  height: 57px;
}

.agent__icon6 {
  width: 58px;
  height: 45px;
}

.agent__icon7 {
  width: 53px;
  height: 58px;
}
/* -------------- */

.agent__icon8 {
  width: 61px;
  height: 58px;
}

.agent__icon9 {
  width: 68px;
  height: 23px;
}

.agent__icon10 {
  width: 60px;
  height: 53px;
}

.agent__icon11 {
  width: 57px;
  height: 55px;
}
/* -------------- */

.agent__icon12 {
  width: 50px;
  height: 48px;
}

.agent__icon13 {
  width: 70px;
  height: 35px;
}

.agent__icon14 {
  width: 53px;
  height: 53px;
}

.agent__icon15 {
  width: 52px;
  height: 46px;
}
/* -------------- */
